Django>=5.2.4,<5.3
djangorestframework>=3.16.0,<3.17
djangorestframework-simplejwt>=5.5.0,<5.6

psycopg2-binary>=2.9.3,<2.10
pyjwt>=2.10.1,<2.11
python-dotenv>=1.1.1,<1.2

celery>=5.5.3,<6.0
redis>=5.0.0,<6.0

django-cors-headers>=4.3.0
drf-spectacular>=0.27.0
django-redis>=5.4.0
django-filter>=24.0